@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$color-passenger: #efb402;
$yellow-butons-color: #FEC801;
$orange-border-color: #E87822;
$red-avianca: #DA291C;
$text-button-color: #333;

.font-open-sans { font-family: 'Open Sans', sans-serif; }

.passenger-button {
    min-width: 150px;
    background-color: $yellow-butons-color;
    border-color: $orange-border-color;
    color: $text-button-color;
    font-weight: bold;

    &:hover { background-color: $color-passenger; }
    &.btn-primary:not(:disabled):not(.disabled):active { background-color: $red-avianca; }
}

.container {
    .passenger-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
        h1 {
            font-size: 1.5rem;
            font-weight: inherit;
            font-weight: bold;
        }
    }

    .passenger-form {
        h2.passenger-title {
            border-top: 1px solid $text-button-color;
            
        }

        .passenger-group-buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 50%;
    }
}

@media all and (max-width: 800px) {
    .container {
        min-width: 320px;

        .passenger-content {
            flex-flow: column nowrap;
            .add-passenger { margin-top: 0.5rem; }
        }

        .passenger-form {
            h2.passenger-title {
                text-align: center;
            }
        }
    }
}