<main class="container font-open-sans mt-5">
  <div class="passenger-content mb-3">
    <h1 class="mb-0">Passenger Form</h1>
    <button class="btn btn-primary passenger-button add-passenger" (click)="addItem()">Add Passenger</button>
  </div>

  <!-- Passenger Form -->
  <form *ngIf="passengersForm" [formGroup]="passengersForm" (ngSubmit)="onSubmit()" class="passenger-form" autocomplete="off">
    <section formArrayName="passengers">
      <div *ngFor="let passenger of passengersForm.get('passengers').controls; let i = index;">
        <div [formGroupName]="i">
          <h2 class="passenger-title pt-3">Passenger {{ i +1 }}</h2>
          <!-- First Name -->
          <div class="form-group">
            <label for="first-name">* First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Enter your First Name" required
              pattern="[A-Za-zÀ-ž\s]+" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls.passengers.controls[i].controls.firstName.errors }">
            <div *ngIf="submitted && passengersForm.controls.passengers.controls[i].controls.firstName.errors" class="invalid-feedback">
              <div *ngIf="passengersForm.controls.passengers.controls[i].controls.firstName.errors.required">First Name
                is required</div>
              <div *ngIf="passengersForm.controls.passengers.controls[i].controls.firstName.errors.pattern">First Name
                Should contain only letters</div>
            </div>
          </div>
          <!-- Last Name-->
          <div class="form-group">
            <label for="last-name">* Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Enter your Last Name" required pattern="[A-Za-zÀ-ž\s]+"
              formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls.passengers.controls[i].controls.lastName.errors }">
            <div *ngIf="submitted && passengersForm.controls.passengers.controls[i].controls.lastName.errors" class="invalid-feedback">
              <div *ngIf="passengersForm.controls.passengers.controls[i].controls.lastName.errors.required">Last Name
                is
                required</div>
              <div *ngIf="passengersForm.controls.passengers.controls[i].controls.lastName.errors.pattern">First Name
                Should contain only letters</div>
            </div>
          </div>
          <!-- Date of Birth -->
          <div class="form-group">
            <label for="date-of-birth">* Date of Birth</label>
            <input type="date" name="date-of-birth" max="{{ maxDate }}" min="1890-01-01" class="form-control" required
              formControlName="dateOfBirth" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls.passengers.controls[i].controls.dateOfBirth.errors }">
            <div *ngIf="submitted && passengersForm.controls.passengers.controls[i].controls.dateOfBirth.errors" class="invalid-feedback">
              <div *ngIf="passengersForm.controls.passengers.controls[i].controls.dateOfBirth.errors.required">Date Of
                Birth is required</div>
            </div>
          </div>
          <!-- Email -->
          <div *ngIf="i === 0">
            <div class="form-group">
              <label for="email">* Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your Email" required
                formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls.passengers.controls[i].controls.email.errors }">
              <div *ngIf="submitted && passengersForm.controls.passengers.controls[i].controls.email.errors" class="invalid-feedback">
                <div *ngIf="passengersForm.controls.passengers.controls[i].controls.email.errors.required">Email is
                  required</div>
                <div *ngIf="passengersForm.controls.passengers.controls[i].controls.email.errors.pattern">Invalid email
                  address</div>
              </div>
            </div>
            <!-- Phone Number -->
            <div class="form-group">
              <label for="phone-number">* Phone Number</label>
              <input type="tel" class="form-control" id="phone-number" name="phone-number" placeholder="Enter your Phone Number"
                minlength="7" maxlength="20" required formControlName="phoneNumber" pattern="[0-9]+" [ngClass]="{ 'is-invalid': submitted && passengersForm.controls.passengers.controls[i].controls.phoneNumber.errors }" />
              <div *ngIf="submitted && passengersForm.controls.passengers.controls[i].controls.phoneNumber.errors"
                class="invalid-feedback">
                <div *ngIf="passengersForm.controls.passengers.controls[i].controls.phoneNumber.errors.required">Phone
                  Number is required</div>
                <div *ngIf="passengersForm.controls.passengers.controls[i].controls.phoneNumber.errors.minlength">Phone
                  Number should have at least 7 Numbers</div>
                <div *ngIf="passengersForm.controls.passengers.controls[i].controls.phoneNumber.errors.pattern">Phone
                  Number should contains only numbers</div>
              </div>
            </div>
          </div>
          <!-- Submit -->
          <div class="form-group passenger-group-buttons">
            <button class="btn btn-primary passenger-button">Save</button>
            <button (click)="removePassenger(i)" class="btn btn-primary passenger-button" type="button" *ngIf="passengersForm.get('passengers').controls.length > 1">Delete</button>
          </div>
        </div>
      </div>
    </section>
  </form>
</main>