/* You can add global styles to this file, and also import other style files */

$body-background: #f6f6f6;

* { margin: 0; padding: 0; box-sizing: border-box; font-family: Helvetica, sans-serif; }
a, a:hover { text-decoration: none; }
body { background-color: $body-background; }

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

button:focus { outline: 0; }